/* Global elements */
:root {
    --green: #DDF951;
    --dark: #050522;
    --red: #FF4084;
    --blue: #5E39F3;
    --white: #FFFFFF;
    --light-gray: #C4C3D8;
    --gray: #9999A7;
    --footer-gray: #7B7B89;
    --footer-dark: #2F2F3E
}

body,
html {
    height: 100%;
    letter-spacing: 0;
    background-color:#fff
}

body,
input {
    font-family: "Visuelt Pro";
}

[data-ani] {
    opacity: 0;
    transform: translateY(100px);
}
.pagination .page-item .page-link {
    border-radius: 100% !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}
ul.blue-dot {
    list-style: none;
    font-weight: 300;
    color: var(--dark);
    padding: 0
}

ul.blue-dot li {
    margin: 20px
}

ul.blue-dot li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--blue);
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

body a {
    color: var(--dark)
}

body a:hover {
    color: var(--gray)
}

.form-control:focus {
    border-color: var(--footer-dark);
}

form div.invalid {
    color: red;
    font-size: 13px;
    padding-left: 20px;
}

form .form-control.invalid {
    border: 1px solid red
}

.weak {
    color: var(--gray);
}

h1,
h2,
h3 {
    font-family: "Neue Machina";
    font-weight: 400;
    color: var(--dark);
}

.zcontainer {
    max-width: 1920px;
}

body .btn {
    border-radius: 5em;
    padding: .7em 2em;
    font-weight: 600;
    transition: .3s ease-out;
    text-transform: unset;
    margin: unset;
    box-shadow: none !important;
}

.modal-content {
    border-radius: 1em !important;
    overflow: hidden;
}

.green-text {
    color: var(--green) !important;
}

input.rounded {
    border-radius: 5em !important;
    font-weight: 400;
    outline: none;
    box-shadow: none;
    padding: 1.6em;
    margin: .2em 0;
    display: flex;
}

.light-form .form-check-input[type=radio]:not(:checked)+label:after,
.light-form .form-check-input[type=radio]:not(:checked)+label:before,
.light-form label.btn input[type=radio]:not(:checked)+label:after,
.light-form label.btn input[type=radio]:not(:checked)+label:before {
    border: 2px solid var(--white);
    background: var(--white);
}

.light-form .form-check-input[type=radio].with-gap:checked+label:after,
.light-form .form-check-input[type=radio].with-gap:checked+label:before,
.light-form .form-check-input[type=radio]:checked+label:after,
.light-form label.btn input[type=radio].with-gap:checked+label:after,
.light-form label.btn input[type=radio].with-gap:checked+label:before,
.light-form label.btn input[type=radio]:checked+label:after {
    color: white;
    content: "\f00c";
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    border: 2px solid var(--blue);
    background: var(--blue);
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--blue);
}
.custom-checkbox .custom-control-label::before {
    border-radius: 10px;
}
.form-check-input[type=radio]+label:after,
.form-check-input[type=radio]+label:before,
label.btn input[type=radio]+label:after,
label.btn input[type=radio]+label:before {
    width: 20px;
    height: 20px;
}

.form-check-input[type=checkbox]+label:before, .form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]+label:before, label.btn input[type=checkbox]:not(.filled-in)+label:after {
   border:1px solid var(--gray);
   margin-top: 0;
   border-radius: 100%;
   content: "";
   width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 12px;

}
.form-check-input[type=checkbox]:disabled+label:after,.form-check-input[type=checkbox]:disabled+label:before   {
   background-color: transparent !important;

}
.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
   transform:none;
    top: 0;
    left: 0;
    z-index: 0;
    width: 24px;
    height: 24px;
    margin-top: 0;
    content: "";
    border:1px solid var(--gray);
    border-radius: 100%;
    transition: .2s;
    background:var(--blue);
    color:var(--white)
}

.light-form .form-check-input[type=checkbox]:checked+label:before,
.light-form label.btn input[type=checkbox]:checked+label:before {
    border-top: 2px solid transparent;
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    border-left: 2px solid transparent;
}

input.rounded:focus,
textarea.rounded:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid var(--dark)
}

textarea.rounded {
    border-radius: .8em !important;
    font-weight: 400;
    outline: none;
    box-shadow: none;
    padding: 1em;
    display: block;
}

.btn-green {
    background: var(--green) !important;
    color: var(--dark);
    border: 1px solid transparent;
}
.btn-green:hover {
    color: var(--dark) !important;
}

.btn-green-outline {
    background: transparent;
    color: var(--green);
    border: 1px solid var(--green);
}

.btn-green-outline:hover {
    background: var(--green);
    color: var(--dark);
    border: 1px solid var(--green);
}

.btn-green:hover {
    background: var(--dark);
    color: var(--green);
    border: 1px solid var(--green)
}

body .btn-dark {
    background-color: var(--dark) !important;
    color: var(--white);
    text-align: left;
    border: 1px solid transparent
}

body .btn-dark:hover,
body .btn-dark:focus {
    background: var(--white) !important;
    color: var(--dark) !important;
    border: 1px solid var(--light-gray) !important
}

.btn-login {
    background: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.btn-login>div {
    padding-left: 20px;
    font-weight: 500;
}

.btn-login>div .weak {
    color: var(--gray);
    font-weight: 200;
}

.btn-login i {
    background: var(--dark);
    border-radius: 100%;
    color: var(--white);
    padding: 1em
}

.btn-login {
    background: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    display: flex;
    justify-content: space-between;
}

.btn-login:hover,
.btn-login:focus {
    background: var(--white);
    color: var(--dark)
}

.btn-gray {
    background: var(--gray);
    color: var(--white);
    border: 1px solid transparent;
}

.badge-dark {
    background: var(--dark);
    color: var(--white);
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.badge-blue {
    background: var(--blue);
    color: var(--white);
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.badge-green {
    background: var(--green);
    color: var(--dark) !important;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.badge-red {
    background: var(--red);
    color: var(--white);
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    transition: .5s ease-out;
}
.header .btn.lang-btn{
    color:var(--white)
}
.header.scrolled .btn.lang-btn{
    color:var(--dark)
}
.header.sub-header .btn.lang-btn {
    color:var(--dark)
}

.header.sub-header .menu .language a, .header.sub-header .menu .user a {
    color: var(--dark);
    font-weight: 500;
}

.header.sub-header .menu .language ul li ul, .header.sub-header .menu .user ul li ul  {
    background: var(--white);
    padding:0
}

.header.sub-header .menu .language ul li ul li a {
    color: var(--dark);

}
 .header .menu .user ul li ul li a {
    color: var(--dark);
    padding:10px;
    width: 215px;
    display: flex;
    align-items: center;
}
 .header .menu .language ul li ul li a {
    margin:10px 10px 0 10px
}
 .header .menu .language ul li ul li:last-child a {
    margin:10px;
}
.header .menu .user ul li ul li a {
    margin:10px 10px 0 10px
}
.header .menu .user ul li ul li a:hover {
    background: var(--dark) !important;
    color:var(--white) !important
}
 .header .menu .user ul li ul li a i {
    margin-right: 15px;
}
.header .menu .user ul li ul li a .badge {
    background:var(--red) !important;
    color:white;
   display: inline-block;
   padding-top: 6px;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    text-align: center;
    box-shadow: none;
}

.header .menu .language>ul:hover>li>a, .header .menu .user>ul:hover>li>a  {
    color: var(--dark)
}

.header  .menu .language ul li ul li a:hover, .header .menu .user ul li ul li a:hover  {
    background: var(--white);
    color: var(--dark);
}

.header.sub-header .logo {
    filter: grayscale(1) brightness(100);
}

.header.sub-header.scrolled {
    background: var(--white)
}

.header.sub-header.scrolled .logo {
    filter: grayscale(0) brightness(1);
}

.header.sub-header.header-white {
    background-color: var(--white);
}

.header.sub-header.header-white .logo {
    filter: grayscale(0) brightness(1);
}

.header.scrolled {
    background: var(--white);
}

.header.scrolled .menu .language, .header.scrolled .menu .user {
    color: var(--dark)
}

.header.scrolled .menu .language a, .header.scrolled .menu .user a  {
    color: var(--dark);
}

.header.scrolled .menu .language>ul:hover>li>a, .header.scrolled .menu .user>ul:hover>li>a {
    color: var(--dark)
}

.header .menu .language a, .header .menu .user a  {
    color: var(--white);
    text-decoration: none;
    transition: .3s ease;
}

.header .menu  .custom-dropdown ul li ul  {
    left: auto;
    top:50px
}

.header .menu .language .dropdown a, .header .menu .user .dropdown a {
    color: var(--dark);
}
.header .menu .language .dropdown a {
    text-align: right;
}

.header .menu .language .dropdown a:hover, .header .menu .user .dropdown a:hover {
    color: var(--white);
    background:var(--dark)
}



.custom-dropdown>ul>li i {
    transition: .3s ease;
}

.custom-dropdown>ul:hover>li>a>i:last-child {
    transform: rotate(180deg);
}

.custom-dropdown>ul:hover>li>a {
    color: var(--green);
}

.custom-dropdown ul {
    list-style: none;
    margin: 0;
    padding: .5em;
    box-shadow: 0px ;

}


.custom-dropdown ul li {
    color: #fff;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    white-space: nowrap;
}
.custom-dropdown ul li.logout {
    border-top:1px solid var(--gray);
    margin:10px 0;
}

.custom-dropdown ul li ul {
    background: var(--white);
    visibility: hidden;
    opacity: 0;
    max-width: 400px;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    right: 0;
    overflow: hidden;
    box-shadow: 0px 25px 54px rgba(0, 0, 0, 0.18);
    border-radius: 19px;
}

.custom-dropdown ul li ul li a {
    color: var(--dark);
    display: block;
    padding: .5em;
    border-radius: 10px;

}

.custom-dropdown ul li ul li a:hover {
    background: var(--dark);
    color: var(--white);
}

.custom-dropdown ul li:hover>ul,
.custom-dropdown ul li:focus-within>ul,
/* this is the line we add */
.custom-dropdown ul li ul:hover {
    visibility: visible;
    opacity: 1;
  
}

.custom-dropdown ul li ul li {
    clear: both;
    width: 100%;
}

.header .logo {
    width: 125px;
    height: 50px;
    background: url(/assets/frontend/img/zindhu-hr-logo.svg) no-repeat center center;
    background-size: contain;
    text-decoration: none;
}

.header.login .logo {
    width: 50px;
    height: 50px;
    background: url(/assets/frontend/img/zindhu-hr-icon.svg) no-repeat center center;
    background-size: contain;
    text-decoration: none;
}

.header.login .logo.logo-black {
    filter: grayscale(1) brightness(0);
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .menu .language, .header .menu .user {
    color: var(--white)
}

.header .menu .login {
    margin: 0 0 0 .5em
}

.main-screen {
    display: flex;
    height: 100vh;
}

.main-screen .text {
    background: var(--white);
    width: 55%;
    height: 100vh;
    padding: 5em;
    display: flex;
    align-items: center;
}

.main-screen .text h2 {
    font-size: 3.8em;
}

.main-screen .text p {
    font-size: 1.5em;
    font-weight: 300;
}

.main-screen .text .signup-lite-form {

    position: relative;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: .2s ease;
    margin-top: 3em;
}



.main-screen .text .signup-lite-form input {
    padding: 1.3em;
    border-radius: 5em;
    outline: 0;
    box-shadow: none;
    background: transparent;
    margin: 0 0 0 1em;
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-width: 1px;
    border-style: solid;
    /* border-color: var(--light-gray); */
}

.main-screen .text .signup-lite-form .btn {
    width: 150px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.main-screen .text .signup-lite-form div.invalid {
    padding-left: 3em;
    position: relative;
    bottom: -10px;
    width: 100%;

}


.main-screen .graph {
    background: var(--dark);
    width: 45%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.main-screen .graph svg {
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 100%;
    left: -3%;
    right: 0;
}

.open-positions {
    background: var(--dark);
    color: var(--white);
    padding: 5em;
    position: relative;
}

.open-positions h2 {
    color: var(--white)
}

.open-positions .positions-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.open-positions>.btn.show-all.mobile {
    display: none;
}
.open-positions>.btn.show-all {
    border: 1px solid var(--green);
    border-radius: 3em;
    padding: 0 .5em 0 1.5em;
    position: absolute;
    right: 0;
    top: 80px;
    right: 6%;
    color: var(--green);
    font-size: 3em;
    transition: .5s ease-out;
    display: flex;
    align-items: center;
    height: 60px;
}

.open-positions>.btn.show-all:hover {
    background: var(--green);
    color: var(--dark)
}

.open-positions .positions-grid .position {
    background-color: var(--white);
    background-repeat: no-repeat;
    background-size: 66% 66%;
    background-position: center bottom;
    color: var(--dark);
    border-radius: 1em;
    padding: 1em;
    width: 32.2222%;
    position: relative;
    overflow: hidden;
    transition: .3s ease;
    cursor: pointer;
}

.open-positions .positions-grid .position:hover,
.open-positions .positions-grid .position.active,
.open-positions .positions-grid .position:focus {
    background-color: var(--green);
}

.open-positions .positions-grid .position.active .icon {
    transform: rotate(90deg);
    opacity: 1;
    left: 0
}

.open-positions .positions-grid .position:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.open-positions .positions-grid .position.unity-developer {
    background-image: url(/assets/frontend/img/unity-developer.svg);
}

.open-positions .positions-grid .position._3d-artist {
    background-image: url(/assets/frontend/img/3d-artist.svg);
}

.open-positions .positions-grid .position.game-designer {
    background-image: url(/assets/frontend/img/game-designer.svg);
}

.open-positions .positions-grid .position h3 {
    position: absolute;
    white-space: pre-line;
    word-spacing: 10000em;
}

.open-positions .positions-grid .position .count {
    border-radius: 2em;
    background: var(--dark);
    color: var(--white);
    display: inline-block;
    padding: .5em 1.5em;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}

.open-positions .positions-grid .position .icon {
    position: absolute;
    top: 15%;
    left: -20%;
    font-size: 5em;
    opacity: 0;
    transition: .3s ease;
}

.open-positions .positions-grid .position:hover .icon {
    opacity: 1;
    left: 0%
}

.open-positions .jobs-list.unity-developer {
    order: 3;
}

.open-positions .jobs-list._3d-artist {
    order: 3;
}

.open-positions .jobs-list.game-designer {
    order: 3;
}

.open-positions .jobs-list {
    height: auto;
    margin-top: 2em;
    flex-wrap: wrap;
    flex: 1;
    display: none;   
}


.open-positions .jobs-list.opened {
  display: block;
}

.open-positions .jobs-list .job-detail {
    background: var(--white);
    border-radius: 1em;
    margin: 1em 0;
    color: var(--dark);
    padding: 1em;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 40px;
}
.open-positions .jobs-list .job-detail.weak-job {
    opacity: .5;
}

.open-positions .jobs-list .job-detail:hover .link {
    background: var(--dark);
    color: white;
}

.open-positions .jobs-list .job-detail .icon {
    font-size: 1.3em;
    margin-top: -5px;
    border-radius: 12px;
    background: var(--blue);
    color: var(--white);
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: flex-start;
    position: relative;
    padding: 10px
}

.open-positions .jobs-list .job-detail .icon:before {
    /* content: ""; */
    left: 0;
    right: 0;
    margin: auto;
    background: url(/assets/frontend/img/job-icon.svg) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.open-positions .jobs-list .job-detail .title {
    flex: 1;
    padding-left: 20px;
}

.open-positions .jobs-list .job-detail .title p {
    margin: 0
}

.open-positions .jobs-list .job-detail .title .name {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

}

.open-positions .jobs-list .job-detail .title .name h3 {
    font-family: "Neue Machina";
    font-size: 2em;
    display: inline-block;
    margin: 0 5px 0 0
}
.open-positions .jobs-list .job-detail .title .badge {
    margin:7px 2px
}

.open-positions .jobs-list .job-detail .title .location .weak {
    color: var(--gray);
    font-weight: 300;
    margin: 0 0 0 5px
}

.open-positions .jobs-list .job-detail .title .location>img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    margin-right: 5px;
}

.open-positions .jobs-list .job-detail .link {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 1px solid var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-out;
    font-size: 2em;
}

.testimonials {
    display: flex;
    background: var(--dark)
}

.testimonials .text {
    width: 45%;
    background: var(--dark) url(/assets/frontend/img/testimonials-bg.svg) no-repeat bottom left;
    background-size: 66% 66%;
    padding: 3% 5%;
    color: var(--white);
}

.testimonials .text h2 {
    font-size: 3em;
    margin-left: 8%;
    color: var(--white);
}

.testimonials .carousel {
    background: var(--green);
    width: 55%;
    padding: 5%;
}

.testimonials .carousel .swiper-pagination {
    width: 150px;
    height: 150px;
    font-size: 55px;
    font-family: "Neue Machina";
    font-weight: 300;
    right: 0;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    left: auto;
}

.testimonials .carousel .t-thumbs {
    margin-top:40px
}

.testimonials .carousel .t-thumbs .swiper-slide.swiper-slide-thumb-active {
    border: 2px solid var(--dark);
    transform: scale(1);
    -webkit-transform: scale(1);
}

.testimonials .carousel .t-thumbs .swiper-slide.swiper-slide-thumb-active img {
    transition: .5s ease;


}

.testimonials .carousel .t-thumbs .swiper-slide {

   
    z-index: 1;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    transition: .5s ease-in-out all !important;
    transform: scale(.6);
    -webkit-transform: scale(.6);
    overflow: hidden;
}

.testimonials .carousel .t-thumbs .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border-radius: 100%;
}

.testimonials .carousel .t-carousel {
    height: 400px;
    margin-top: 50px;
}

.testimonials .quotes {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.testimonials .quotes>p {
    font-weight: 200;
    font-size: 1.8em;
}

.testimonials .quotes .title {
    margin-top: auto;

}

.testimonials .quotes .title .name {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 22px;
}

.testimonials .quotes .title .position {
    font-family: "Neue Machina";
    font-size: 20px;

}

.join-us {
    background: var(--white) url(/assets/frontend/img/join-us-bg.svg) no-repeat top right;
    background-size: contain;
    padding: 5%;
    display: flex;
    align-items: center;
}

.join-us .join-us-form {
    width: 40%;
}

.join-us .join-us-form input {
    margin: 1.5em 0;
}

.join-us .join-us-form .btn {
    margin: 1.5em 0 0 0;
}
.modal-header {
    align-items: center;
    background:var(--green);
    color:var(--dark)
}
.modal-header .close {
    border: 1px solid var(--dark);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 0;
    color:var(--dark);
    opacity: 1;
}
.modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.modal.clarification-text .modal-body {
    max-height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
} 
/*Info Modal*/
.modal-information .modal-header {
    background-color: transparent;
}
.modal.information .modal-header button {
    color: var(--dark);
    opacity: 1;
    border-radius: 100%;
    border: 1px solid var(--dark);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin: 0 0 0 auto;
    outline: none;
    box-shadow: none;
}
.modal.information .modal-body .logo {
    background:url(/assets/frontend/img/zindhu-hr-logo.svg) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 50px;
    margin:0 auto 30px auto;
    display: block;
}
.modal.information img {
    width: 200px;
    margin: 50px auto;
    display: block;
}
.modal.information p a {
    color:var(--gray)
}
.modal.information p {
    line-height: 24px;
}
/*Login Modal*/
.modal.login .modal-header {
    background-color: transparent;
    
}
.modal.login .modal-dialog .modal-content {
    position: relative;
    overflow: hidden;
    padding: 1em;
}

.modal.login.show  .modal-dialog .modal-content  {
    overflow: hidden !important;
}
.modal.login .modal-dialog .modal-header {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 10px;
    left: 0;
    right: 0;
}

.modal.login .modal-dialog .modal-header button {
    color: var(--dark);
    opacity: 1;
    border-radius: 100%;
    border: 1px solid var(--dark);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin: 0 0 0 auto;
    outline: none;
    box-shadow: none;

}

.modal.login .modal-dialog .modal-content:before {
    content: "";
    background: var(--green) url(/assets/frontend/img/login-illustration.svg) no-repeat center center;
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.modal.login .modal-dialog .modal-content:before {
    content: "";
    background: var(--green) url(/assets/frontend/img/login-illustration.svg) no-repeat center center;
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.modal.login .modal-dialog .modal-content .signup-text {
    margin-top: auto;
}

.modal.login .login-wrapper {
    width: 60%;
    padding: 0 1em 0 0;
    display: flex;
    flex-direction: column;
    height: 450px;

}

.modal.login .login-wrapper .logo {
    width: 100px;
    margin-bottom: 3em
}

.modal.login .login-wrapper .logo img {
    width: 100%;
}

.modal.login .login-wrapper .btn {
    margin: .2em 0;
    padding: .6em 1em;

}

/*Footer*/
.footer {
    background: var(--dark);
    color: white;
    padding: 5em;
    margin: 5em 0 0 0;
    position: relative;
    z-index: 1041;
}

.footer .footer-top {
    display: flex;
}

.footer .footer-logo {
    width: 125px;
    height: 50px;
    background: url(/assets/frontend/img/zindhu-hr-logo-white.svg) no-repeat center center;
    background-size: contain;
    margin: 0 5em 0 0;
}

.footer .info {
    margin: 0 5em 0 0;
}

.footer .footer-top .social-media a.text-link {
    color: var(--footer-gray);
    text-decoration: none;
    font-size: 1em;
    display: block;
    margin: .2em 0 0 0;
    font-size: .9em;
}

.footer .footer-top .social-media a {
    color: var(--white);
    font-size: 2em;
    /* border:1px solid red; */
    line-height: 120%;
    margin-left: 1em;
}

.footer .footer-top .social-media {
    text-align: right;
    margin-left: auto
}

.footer h4 {
    font-size: 1.2em;
    font-weight: 800;
    border-bottom: 2px solid var(--green);
    display: inline-block;
    padding-bottom: .1em;
    font-family: "Neue Machina";
}

.footer p {
    font-size: .9em;
    color: var(--footer-gray);
    margin: .5em 0
}

.footer hr {
    border-color: var(--footer-dark);
    margin: 2em 0
}

.mobile-menu {
    display: none;
}

.hamburger {
    display: none;
}

/* Job detail page */
.sub-page.job-detail {
    min-height: 100vh;
    display: flex;
    position: relative;
}

.sub-page.job-detail .left {
    width: 40%;
    height: 100vh;
    background: var(--dark);
    color: var(--white);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-page.job-detail .left h2 {
    color: var(--white)
}

.sub-page.job-detail .left .icon {
    background: var(--blue);
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    position: relative
}

.sub-page.job-detail .left .icon:before {
    /* content: ""; */
    left: 0;
    right: 0;
    margin: auto;
    background: url(/assets/frontend/img/job-icon.svg) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
}


.sub-page.job-detail .left .sub-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub-page.job-detail .left .badge {
    background: var(--white);
    color: var(--dark) !important;
    padding: 10px 15px;
    border-radius: 30px;
    width: 100px;
    font-size: 16px;
}

.sub-page.job-detail .left .time {
    font-size: 14px;
    margin-left: 10px;
}

.sub-page.job-detail .left .time .weak {
    color: var(--footer-gray);
}

.sub-page.job-detail .left .btn {
    margin: 5px 0;
    align-items: center;
}

.sub-page.job-detail .left .actions {
    display: flex;
    margin-top: 50px;
}

.sub-page.job-detail .left .actions {
    display: flex;
    margin-top: 70px;
}

.sub-page.job-detail .left .actions .btn-green-outline {
    margin-left: 5px;
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.sub-page.job-detail .left .actions .btn-green-outline.active {
    background:var(--green);
    color:var(--dark)
}
.sub-page.job-detail .left .actions .btn-green.active {
    
    color:var(--green);
    background:var(--dark);
    border:1px solid var(--green)
}
.sub-page.job-detail .left .actions .btn-green.active:hover {
    
    color:var(--green)
}
.sub-page.job-detail .left .actions .btn-green:last-child {
    
    margin-left: 5px;
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex ;
    justify-content: center;
    align-items: center;
}

/* Job detail page  right side*/
.sub-page.job-detail .right {
    width: 60%;
    background: var(--white);
    padding: 5%
}
.sub-page.job-detail .right .go-back a:hover{
    text-decoration: none;
   
}
.sub-page.job-detail .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.sub-page.job-detail .tags .tag {
    border: 1px solid var(--gray);
    color: var(--gray);
    border-radius: 20px;
    padding: 6px 20px;
    margin: 5px 5px 0 0;
    font-size: 14px;
    white-space: nowrap;
}

.sub-page.job-detail .info {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}

.sub-page.job-detail .info .weak {
    font-size: 13px;
    color: var(--gray);
    display: block;
    margin-bottom: 5px
}

.sub-page.job-detail .detail {
    color: var(--gray);
    margin: 0 0 30px 0;
}

.sub-page.job-detail .detail h3 {
    font-family: "Visuelt Pro";
    color: var(--dark);
    font-size: 24px;
}


.sub-page.job-detail .similar-jobs .open-positions .jobs-list {
    display: block;
}

.sub-page.job-detail .similar-jobs .open-positions .jobs-list .job-detail * {
    color: var(--dark)
}

.sub-page.job-detail .similar-jobs .open-positions .jobs-list .job-detail {
    border: 1px solid var(--light-gray)
}


.sub-page.job-detail .similar-jobs .open-positions .jobs-list .job-detail .icon i {
    color: var(--white);
}

.sub-page.job-detail .similar-jobs .open-positions .jobs-list .job-detail:hover .link i {
    color: var(--white);
}

.sub-page.job-detail .similar-jobs .open-positions .jobs-list .job-detail .badge {
    display: inline-block;
}

.sub-page.job-detail .similar-jobs .open-positions .jobs-list .job-detail .location {
    margin: .5em 0
}

.sub-page.job-detail .similar-jobs .open-positions {
    background: var(--white);
    color: var(--dark);
    padding: 0;
}
.sub-page.job-detail .similar-jobs>h3 {
    font-weight: 600;
    font-size: 2em;
}

/* Sub page testimonials */

.sub-page.testimonials {
    position: relative;
    background: var(--green);
    overflow: hidden;
    margin-bottom: -5em;
}

.sub-page.testimonials .text {
    background: var(--green) url(/assets/frontend/img/sub-testimonals-bg.svg) no-repeat 88% 55%;
}

.sub-page.testimonials .text h2 {
    color: var(--dark)
}

.sub-page.testimonials .big-text {
    position: absolute;
    font-family: "Neue Machina";
    bottom: -55%;
    left: -100%;
    color: var(--dark);
    font-size: 14em;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
    z-index: 0;
}

.sub-page.testimonials .carousel .t-carousel {
    overflow: visible;
}

/* Job list page */
/* .sub-page.job-list {} */

.sub-page.job-list .cover {
    background: var(--dark) url(/assets/frontend/img/cover-bg.png) no-repeat bottom center;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    margin-top: 70px;
    color: var(--white);
    display: flex;
    justify-content: center;
    background-size: contain;
}

.sub-page.job-list .cover h2 {
    color: var(--white);
    margin: 30px 0
}

.sub-page.job-list .listing {
    padding: 0 5%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.sub-page.job-list .listing>p {
    color:var(--gray);
    font-weight: 300;
}
.sub-page.job-list .listing .badge {
    box-shadow: none;
    border:1px solid var(--light-gray) ;
    color: var(--light-gray)!important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
}
.sub-page.job-list .listing .badge:hover {
    color:var(--gray)!important;
    border:1px solid var(--gray);
}
.sub-page.job-list .list-filter-mobile-trigger{
  display: none;
}
.sub-page.job-list .list-filter {
    display: flex;
    justify-content: space-between;
    padding: 0 5em
}

.sub-page.job-list .list-filter>div {
  flex:2;
  margin-right: 10px;
}
.sub-page.job-list .list-filter>div.work-type {
    flex: 1;
}

.sub-page.job-list .list-filter>div small {
    padding-left: 20px;
    color: var(--gray);

}

.sub-page.job-list .list-filter>div small span {
    color: var(--dark);
    margin-left: 2px;
}
.sub-page.job-list .list-filter>button#filter-btn {
   margin-top: 10px;
}

.sub-page.job-list .results .open-positions {
    background: none;
    padding: 0 5em
}

.sub-page.job-list .results .open-positions .jobs-list {
    display: block;
}

.sub-page.job-list .results .open-positions .jobs-list .job-detail {
    border: 1px solid var(--light-gray)
}

.sub-page.sign-up {
    display: flex;

}

.sub-page.sign-up .form {
    height: 100vh;
    width: 35%;
    padding: 0 50px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-page.sign-up .form>h2 {
   padding-top: 5px;
}
.sub-page.sign-up .form .forgot-pass a{
    color:var(--blue);
}

.sub-page.sign-up .form form {
    margin-top: 10px
}

.sub-page.sign-up .form .custom-dropdown {
    padding: 0;

}

.sub-page.sign-up .form .custom-dropdown a {
    color: --dark;
    text-decoration: none;
}

.sub-page.sign-up .form .custom-dropdown>ul>li {
    padding: 0;
    border-radius: 1em;
}

.sub-page.sign-up .form .custom-dropdown>ul>li>a {
    color: var(--footer-gray);


}

.sub-page.sign-up .form .custom-dropdown>ul>li:hover {
    background: var(--white);
    color: var(--dark);
}

.sub-page.sign-up .form .custom-dropdown .dropdown {
    box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    margin-left: -20px;
}

.sub-page.sign-up .form .custom-dropdown>ul {
    padding: 0;
}

.sub-page.sign-up .form input {
    margin-bottom: 10px
}


.sub-page.sign-up .form .already {
    font-size: 1.1em;
    margin-top: 40px;
    color: var(--gray)
}

.sub-page.sign-up .form label {
    color: var(--footer-gray)
}

.sub-page.sign-up .form a {
    text-decoration: underline;
}

.sub-page.sign-up.personal .graph {
    height: 100vh;
    width: 65%;
    background: var(--dark) url(/assets/frontend/img/login-bg.svg) no-repeat bottom center;
    background-size: cover;
    color: white;
}
.sub-page.sign-up.forgot .graph {
    height: 100vh;
    width: 65%;
    background: var(--dark) url(/assets/frontend/img/login-bg-2.svg) no-repeat bottom center;
    background-size: cover;
    color: white;
}
.sub-page.sign-up.corporate-login .graph {
    height: 100vh;
    width: 65%;
    background: var(--dark) url(/assets/frontend/img/login-bg-2.svg) no-repeat bottom center;
    background-size: cover;
    color: white;
}
.sub-page.sign-up.corporate-login  {
    background:var(--white) !important
}
.sub-page.sign-up.corporate-login .form {
    height: 100vh;
    width: 35% !important;
    color:var(--white)
}
.sub-page.sign-up.corporate-login .graph {
    width: 65% !important;
}

.sub-page.sign-up .graph .slogan {
    padding: 2em;
    font-size: 35px;
    text-shadow: 2px 2px var(--dark);
}

.sub-page.sign-up.corporate .graph {
    height: 100vh;
    width: 35%;
    background: var(--green) url(/assets/frontend/img/corporate-sign-up-bg.svg) no-repeat bottom center;
    background-size: cover;
    color: white;
}

.sub-page.sign-up.corporate {
    background: var(--dark);
    height: auto;
    padding-bottom: 100px
}

.sub-page.sign-up.corporate .form {
    color: var(--white);
    width: 65%;
    justify-content: flex-start;
    height: 100%;
}

.sub-page.sign-up.corporate .form h2 {
    color: var(--white)
}

.sub-page.sign-up.corporate .form a {
    color: var(--white);
    text-decoration: underline;
}

.sub-page.sign-up.corporate .form label {
    font-size: 14px;
    color: var(--footer-gray);
    padding: 0 2em;
    height: 10px;
}

.sub-page.sign-up.corporate .form input {
    background: transparent;
    border: 1px solid var(--footer-gray);
    transition: .5s ease;
}

.sub-page.sign-up.corporate .form .form-check label {
    font-size: 16px;
    line-height: 30px;
}

.sub-page.sign-up.corporate .form .mdb-select {
    border: 1px solid var(--footer-gray)
}

.sub-page.sign-up.corporate .form .mdb-select input:focus {
    background: inherit
}

.sub-page.sign-up.corporate .form input:focus {
    background: white;
}

.sub-page.sign-up.corporate .form .btn {
    float: right;
}

.sub-page.sign-up.corporate .graph .slogan {
    color: var(--dark);
    font-size: 30px;
    text-shadow: 2px 2px var(--green);
}
.dropdown-content li.active, .dropdown-content li:hover {
    background:inherit
}
.mdb-select {
    border: 1px solid var(--light-gray);
    border-radius: 2em;
    padding: 10px 0;
    margin: 5px 0
}

.mdb-select .caret {
    right: 23px !important;
    top: 19px !important
}

.mdb-select input {
    border: 0 !important;
    margin: 0 !important
}
.mdb-select>input {
   text-indent: 30px;
}

.mdb-select ul {
    margin-top: 55px;
    border-radius: 1em;
    padding: 10px;
    box-shadow: none;
    border: 1px solid var(--light-gray)
}

.mdb-select ul li {
    border-radius: 1em;
    margin: 2px 0;
    padding: 0 5px;
}

.mdb-select ul li a,
.mdb-select ul li span,
.mdb-select ul li label {
    color: var(--dark) !important
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background: var(--dark);
    color: white;
    border-radius: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: .3s ease;
}

.scroll-top.active {
    opacity: 1;
    pointer-events: inherit;
    visibility: visible;
    cursor: pointer;
    z-index: 1066;
}

.scroll-top:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    background: url(/assets/frontend/img/arrow-1.svg) no-repeat center center;
    background-size: 20px 20px;
    transform: rotate(-90deg);
    border-radius: 100%;
    filter: invert(1);

}

.card.info {
    box-shadow: none !important;
    
    
}
.card.info *{
    box-shadow: none !important;
}
.card.info  h3 {
    font-family: "Visuelt Pro" ;
    font-weight: 300 !important;
    font-size: 25px;

}
.card.info  h3 br {
    content: "";
    display: block;
    height: 20px;

}
.card.info  a {
    text-decoration: none !important;

}

@media only screen and (max-width: 768px) {
    input.rounded {
       
        padding: 1.4em;
       
    }
    form div.invalid {
        font-size: 12px;
    }
    .mdb-select ul {
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .main-screen {
        flex-direction: column;
        height: auto;
    }

    .header .menu {
        display: none;
    }

    .header {
        padding: 10px;
        background: var(--white)
    }

    .header.login {
        background: transparent
    }
    .header.login.scrolled {
        background: var(--white)
    }

    .mobile-menu {
        display: flex;
        opacity: 0;
        visibility: hidden;
        right: -100%;
        background: var(--dark);
        position: absolute;
        width: 88%;
        top: 70px;
        position: fixed;
        z-index: 5;
        box-shadow: -100px 0 0 rgba(5, 5, 34, 0.6);
        color: var(--white);
        padding: 2em;
        flex-direction: column;
        transition: .5s ease;
    }

    .mobile-menu.open {
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu>* {
        position: relative;
    }

    .mobile-menu h4 {
        font-size: 1.2em;
        font-weight: 800;
        border-bottom: 2px solid var(--green);
        display: inline-block;
        padding-bottom: .1em;
        font-family: "Neue Machina";
        margin-top: 1em;
    }
    .mobile-menu h5 {
        border-bottom: 1px solid var(--white);
        padding: 10px 0;
        margin: 8px 15px;
    }

    .mobile-menu .info p,
    .mobile-menu .address p {
        color: var(--footer-gray)
    }

    .mobile-menu .social-media {
        margin-bottom: 2em;
    }

    .mobile-menu .social-media a {
        color: var(--white);
        font-size: 2em;
        line-height: 120%;
        margin-right: 1em;
    }

    .mobile-menu .login {
        width: 100%;
        margin-top: 2em;
        text-align: center;
    }

    .mobile-menu .login .btn {
        width: 100%;
        margin-bottom: 1em;
    }

    .mobile-menu .text-link {
        color: var(--footer-gray);
        text-decoration: underline;
        margin-top: 1em
    }

    .mobile-menu .login .green {
        color: var(--green);
        text-decoration: underline;
        background: none !important
    }
    .mobile-menu .mobile-menu-links li a {
        color:var(--white);
        display: block;
        padding:10px;
        
    }
    .mobile-menu .mobile-menu-links {
        margin:0;
        list-style: none;
        padding:0
    }

    .header .hamburger {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        overflow: hidden;
    }

    .hamburger svg {
        position: relative;
    }

    .header .hamburger .open-hamburger,
    .header .hamburger .close-hamburger {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header .hamburger .close-hamburger {
        opacity: 0;
        display: none;
    }

    .main-screen .graph {
        width: 100%;
        margin-top: -50px;
        z-index: 2;
        height: 90vh;
    }

    .main-screen .graph svg {
        bottom: auto;
        top: 0;
    }

    .main-screen .text {
        width: 100%;
        padding: 1em;
        border-radius: 55px;
        z-index: 3;
        height: 100%;
        margin-top: 80px;
    }

    .main-screen .text>div {
        width: 100%;

    }

    .main-screen .text h2 {
        font-size: 40px;
        margin-top: 1em;
        margin-bottom: 1em
    }

    .main-screen .text p {
        display: none;
    }

    .main-screen .text .signup-lite-form {
        width: 100%;
        padding-bottom:60px
    }

    .main-screen .text .signup-lite-form .btn {
        width: 100%;
        transform: inherit;
        top: 10px;
        left: inherit;
        right:0;
        left:0;
        
    }

    .main-screen .text .signup-lite-form input {
        padding: 20px;
        margin: 0;
        padding-right: 130px;
        box-shadow: none;
        -webkit-appearance: none;
    }

    .main-screen .text .signup-lite-form div.invalid {
        bottom: -10px;
        padding-left: 20px;
        left: inherit;
    }

    .testimonials .text {
        width: 100%;
    }

    .testimonials .carousel {
        width: 100%;
    }

    .testimonials {
        flex-direction: column;
        overflow: hidden;
    }

    .footer .footer-top {
        flex-direction: column;
    }

    .join-us {
        flex-direction: column;
        height: auto;
    }

    .join-us .join-us-form {
        width: 100%;
    }

    .join-us .join-us-form .btn {
        width: 100%;
        text-align: center;
    }

    .open-positions {
        padding: 1em
    }

    .open-positions h2 {
        color: var(--white)
    }

    .open-positions .positions-grid {
        display: block;
    }

    .open-positions .positions-grid .position {
        width: 100%;
        margin: 20px 0
    }

    .open-positions .jobs-list .job-detail {
        margin: 20px 0;
        display: block;
        padding: 20px;
        position: relative
    }

    .open-positions .jobs-list .job-detail .icon {
        margin-top: 0;
        margin-bottom: 10px
    }

    .open-positions .jobs-list .job-detail .title {
        padding-left: 0;
    }

    .open-positions .jobs-list .job-detail .title .name h3 {
        font-size: 1.5em;
    }

    .open-positions .jobs-list .job-detail .link {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 50px;
        height: 50px;
    }

    .open-positions>.btn.show-all {
        display: none;
    }

    .open-positions>.btn.show-all.mobile {
        position: relative;
        right: 0;
        margin: 0 auto;
        display: inline-flex;
        padding: 20px 30px;
        width: 100%;
        top:0;
        justify-content: center;

    }

    .testimonials .text h2 {
        font-size: 2em;
    }
    .sub-page.testimonials .big-text {
        font-size: 3em;
        bottom:-40px;
        right: 0;
        left:0
    }
    .testimonials .text {
        height: 66vh;
    }

    .testimonials .carousel .swiper-pagination {
        width: 120px;
        height: 80px;
        background: var(--green);
        top: -80px;
    }

    .testimonials .carousel {
        height: auto;
    }

    .testimonials .quotes {
        height: 350px;
    }

    .testimonials .quotes>p {
        font-size: 1.3em;
    }

    .testimonials .carousel .t-carousel {
        height: auto;
    }

    .join-us .join-us-form {
        margin-top: 50vh
    }

    .footer {
        padding: 2em
    }

    .footer .footer-logo {
        margin-bottom: 2em;
    }

    .footer .address {
        margin-top: 2em;
    }

    .footer .copyright p {
        margin: 0;
        font-size: 12px;
    }

    .footer .footer-top .social-media {
        text-align: left;
        margin-left: 0;
        margin-top: 2em;
    }

    .footer .footer-top .social-media a {
        margin-left: 0;
        margin-right: 20px;
    }

   

    .modal.login .modal-dialog .modal-content:before {
        width: 100%;
        height: 30%;
    }
    .modal.login .modal-dialog  .modal-body {
        overflow: hidden;
    }

    .modal.login .modal-dialog {
        align-items: center;
        margin: 0 auto;
        height: auto;
    }

    .modal.login .login-wrapper .logo {
        display: none;
    }

    .modal.login .login-wrapper {
        width: 100%;
        height: auto;
    }

    .modal.login .login-wrapper h3 {
        margin-top: 27vh;
    }

    .modal.login .modal-dialog .modal-header button {

        position: relative;
    }

    .modal.login .modal-dialog .modal-header button span {
        position: absolute;

    }

    .modal.login .modal-dialog .modal-content {
        padding: 0;
    }

    .modal.login .modal-dialog .modal-content .signup-text {
        text-align: center;
        margin: 15px 0;
    }
   
    .header.sub-header .logo {
        filter: brightness(1) grayscale(0);
    }

    .header.sub-header {
        background: var(--dark);
    }

    .header.sub-header.header.scrolled {
        background: var(--dark);
    }
    .fixed-sn.white-skin .header.sub-header.header.scrolled {
        background: var(--white);
    }

    .header.sub-header .logo {
        background-image: url(/assets/frontend/img/zindhu-hr-logo-alternative.svg);
    }

    .header.sub-header .hamburger svg * {
        fill: var(--white)
    }
    .header.sub-header.header-white  {
        background:transparent
    }
    .sub-page.job-list .cover {
        background-size: cover;
        text-align: center;
        margin-top:0;
        height: 500px;
        padding-top:55px
    }
    .sub-page.job-list .list-filter {
        flex-direction: column;
        padding:0 1em
    }
    .sub-page.job-list .list-filter>div {
        width: 100%;
    }
    .sub-page.job-list .list-filter-mobile-trigger{
        display: block;
        padding:0;
        border:1px solid var(--gray);
        border-radius: 50px;
        width: 180px;
        margin:10px auto;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
      }
    .sub-page.job-list .list-filter-mobile-trigger i {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        color:var(--white);
        background: var(--dark);
        top:0;
        left:0;
        display: flex;
        align-items:center;
        justify-content: center;
        margin-right: 25px;
       
      }
    .sub-page.job-list .list-filter-mobile-trigger div  {
        color:var(--gray)
       
      }
    .sub-page.job-list .web-filter  {
        min-height: 0;
        max-height: 0;
        opacity: 0;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        margin: 20px;
        border-radius: 1em;
        box-shadow: 0 0 10px rgb(0 0 0 / 13%);
        padding: 10px;
        
      }
    .sub-page.job-list .web-filter.opened  {
       min-height: 250px;
       max-height: 1500px;
       opacity: 1;
      }
   
    .open-positions .jobs-list .job-detail .title .name {
        flex-direction: column;
        align-items: flex-start;
    }
    .sub-page.job-detail {
        height: auto;
        flex-direction: column;
        margin-top: 70px;
    }

    .sub-page.job-detail .left {
        width: 100%;
        height: auto;
    }

    .sub-page.job-detail .left .actions {
        margin-bottom: 30px;
    }

    .sub-page.job-detail .left .actions .btn-green:not(.d-none) {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
       
    }
    .sub-page.job-detail .left .actions .btn-green:not(.d-none):last-child {
        flex: inherit;
       
       
    }

    .sub-page.job-detail .left .actions .btn-green-outline {
        width: 62px;
        height: 62px;
        border-radius: 100%;
        flex: inherit;
        margin-right: 0;
    }
    .sub-page.job-detail .left .actions .btn-green:last-child {
        width: 62px;
        height: 62px;
    }
    

    .sub-page.job-detail .left .icon {
        margin-bottom: 20px;
    }

    .sub-page.job-detail .right {
        width: 100%;
        border-radius: 30px;
        margin-top: -30px;
    }
  

    .sub-page.job-detail .tags .tag {
        margin: 10px 10px 0 0
    }

    .sub-page.job-detail .detail h3 {
        margin: 2em 0 1em 0
    }
    .sub-page.job-list .listing {
        margin-top:10px;
        margin-bottom:20px
    }
    .sub-page.job-list .listing h4 {
        font-size: 16px;
    }
    .open-positions .jobs-list .job-detail .title .badge {
        margin: 2px 2px;
    }
    
    .sub-page.job-list .results .open-positions {
        padding:0 1em
    }
    .sub-page.sign-up { 
        display: block;
        padding-top: 70px;
    }

    .sub-page.sign-up .form h2 {
        margin-bottom: 20px
    }

    .sub-page.sign-up .form {
        min-height: calc(100vh - 70px);
        height: auto;
    }
    .sub-page.sign-up .form form {
        margin-top:0
    }
    .sub-page.sign-up .form {
        width: 100%;
        padding: 0 1em 3em 1em;
        margin-bottom:-80px
    }
   
    .sub-page.sign-up.personal .graph {
        width: 100%;
        padding: 0 1em;
        display: none;
    }

    .sub-page.sign-up .graph .slogan {
        padding: 20px;
        font-size: 40px;
    }

    .sub-page.sign-up .form .already {
        margin-top: 20px;
        text-align: center;
    }

    .sub-page.sign-up.corporate .graph {
        width: 100%;
        background-size: contain;
        padding: 0 1em;
        height: 66vh;
    }

    .sub-page.sign-up.corporate {
        background-color: var(--green);
        padding-bottom: 0
    }

    .sub-page.sign-up.corporate .form {
        background: var(--dark);
        width: 100%;
        border-radius: 2em 2em 0 0;
        margin-top: -25px;
        padding: 2em 1em
    }

    .sub-page.sign-up.corporate .graph .slogan {
        font-size: 25px;
        margin-top: 30px;
    }

    .sub-page.sign-up.corporate .employees {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    .sub-page.sign-up.corporate .employees>div {
        width: 45%;
        white-space: nowrap;
    }
    .sub-page.sign-up.corporate-login .form,
    .sub-page.sign-up.corporate-login .graph
    {
        width: 100% !important;
    }
    .sub-page.sign-up.forgot .graph {
        width: 100%;
        padding:20px
    }
    .dashboard-grid {
        width: 100%;
        overflow-x: auto;
        overflow-y:hidden;
    }
    .dashboard-grid .row{
        display: flex;
        flex-wrap: nowrap;
    }
    .dashboard-grid .row div[class*=col-] .card-body{
       width: 220px;
    }
    .dashboard-grid .row div[class*=col-] .card-body:after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .header .logo {
        width: 90px;
    }
    .header .btn.lang-btn {
        color:var(--dark)
    }
    #slide-out {
        transform: translateX(-100%);
    }
   
    .header .menu .language a, .header .menu .user a {
        color:var(--dark)
    }
    input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
}

@media only screen and (min-width: 768px)  and (max-width: 1024px) {
    .modal.login .login-wrapper h3 {
        margin-top: 30%;
    }
    .main-screen .text {
        padding:1em;
    }
    .sub-page.sign-up {
        height: auto;
        flex-direction: column;
    }
    .sub-page.sign-up .form {
        width: 100%;
    }
    .sub-page.sign-up.personal .graph, .sub-page.sign-up.corporate .graph {
        width: 100%;
    }
}
@media only screen and (min-width: 1024px)  and (max-width: 1920px) and (max-height: 768px)  {
    .sub-page.sign-up .graph .slogan {
       padding:1em;
       max-width: 400px;
   }
}

