.side-nav .collapsible a i {
	width: 10px;
}

ul.stepper.horizontal {
	min-height: 100vh !important;
}

ul.stepper.horizontal .step-actions {
	position: fixed !important;
}

@media only screen and (min-width: 993px) {
	ul.stepper.horizontal .step-title{
	    padding: 30px 20px !important;
	}
}

.select-wrapper.disable-toggle-all .select-toggle-all {
    display: none !important;
}

.select-wrapper .select-dropdown {
    max-height: 250px !important;
}

#register-form .md-form {
	margin-top: 15px;
	margin-bottom: 15px;
}

#register-form .select-wrapper input.select-dropdown {
	margin-bottom: 5px;
}