body {
    background: #140958;
    color: white;
    font-family: "Comfortaa", Helvetica, sans-serif;
    font-size: 13px;
}

section h2 {
    font-size: 5em;
}

.zindhu__scrollbar {
    height: 100vh;
}


/* Smooth Scrollbar styles */

[data-scrollbar] {
    display: block;
    position: relative;
}

.scroll-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scrollbar-track {
    position: absolute;
    opacity: 0;
    z-index: 1;
    background: #320866;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.5s 0.5s ease-out;
    transition: opacity 0.5s 0.5s ease-out;
}

.scrollbar-track.show,
.scrollbar-track:hover {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.scrollbar-track-x {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

.scrollbar-track-y {
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
}

.scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: #7FB539;
    border-radius: 0;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.btn-outline {
    border: 2px solid #7FB539;
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    margin: 20px 0;
    text-decoration: none;
    transition: 1s ease;
    letter-spacing: 2px;
}

.btn-outline i {
    transition: .2s ease;
    color: #fff
}

.btn-outline:hover i:last-child {
    margin-left: 30px;
}

.btn-outline:hover {
    color: white;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, .2);
    ;
}

.header {
    padding: 0 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgba(20, 9, 88, .7);
}

.header .login-links {
    white-space: nowrap;
    z-index: 1;
}

.headroom {
    will-change: transform;
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.headroom--pinned {
    transform: rotateX(0deg);
    opacity: 1;
}

.headroom--unpinned {
    transform: rotateX(180deg);
    opacity: 0;
}

.header .menu {
    position: relative;
    padding-right: 80px;
}

.header .menu .menu-inner {
    text-align: right;
}

.header .menu .menu-inner ul {
    margin-bottom: 0;
    position: relative;
    top: 5px;
}

.header .login-links .btn {
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px 0
}

.header .menu .hamburger {
    position: absolute;
    right: 0;
    top: -10px;
    cursor: pointer;
    transition: 1s ease;
    transform-origin: center center;
}

.header .menu .hamburger:hover {
    transform: scale(1.1);
}

.header .menu .hamburger svg {
    width: 60px;
    height: 60px;
}

.header .menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    overflow: hidden;
    /* border:1px solid red; */
    height: 30px;
}

.header .menu ul li a {
    padding: 5px;
    display: inline-block;
    color: white;
    font-size: 13px;
    position: relative;
    bottom: -50px;
    cursor: pointer;
    opacity: 0;
}

.header .logo {
    background: url(../img/zindhu-hr-logo.svg) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 70px;
}

.main {
    height: 100vh;
}

.main .main-carousel {
    position: relative;
    height: 100%;
}

.main .main-carousel .item {
    position: relative;
    height: 100vh;
    object-fit: cover;
    background: #140958
}

.main .main-carousel .item .text .title {
    font-size: 3em;
    margin-bottom: 20px
}

.main .main-carousel .item .text .desc {
    font-size: 1.2em;
    width: 50%;
    margin: 0 auto;
    line-height: 2em;
}

.main .main-carousel .item img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .1;
}

.main .main-carousel .item .text {
    position: relative;
    z-index: 1;
    width: 77%;
    margin: 0 auto;
    text-align: center;
}

.main-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.main-carousel .owl-dots .owl-dot span {
    border-radius: 0;
    width: 100px;
    height: 5px;
    background: #00AAAD;
    transition: .5s ease;
}

.main-carousel .owl-dots .owl-dot.active span {
    background: #00AAAD;
    height: 8px
}

section.about-us {
    height: 100vh;
    width: 100%;
    padding: 0 100px
}

section.about-us h2 {
    padding: 100px 0 0 0;
    font-size: 4em;
    font-weight: 700;
}

section.about-us h2 span {
    font-family: sans-serif;
    color: #7FB539
}

section.about-us p {
    padding: 50px 0 0 0;
    font-size: 2em;
}

section.about-us h1 {
    padding: 50px 0 0 0;
    font-size: 2em;
}

section.about-us ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url(../img/bullet.svg) no-repeat center center;
    background-size: contain;
}

section.about-us ul li {
    position: relative;
    padding: 0 0 0 50px;
    margin: 50px 0;
    line-height: 220%;
    font-size: 1.5em;
}

section.about-us ul {
    list-style: none;
    padding: 0;
}

section.about-us .drawings div[class*="draw"] {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: auto;
}

section.about-us .drawings .draw-01 {
    background-image: url(../img/zindhu-hr-01.svg);
}

section.about-us .drawings .draw-02 {
    background-image: url(../img/zindhu-hr-02.svg)
}

section.about-us .drawings .draw-03 {
    background-image: url(../img/zindhu-hr-03.svg)
}

section.about-us .drawings .draw-04 {
    background-image: url(../img/zindhu-hr-04.svg)
}

section.developers {
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

section.developers .bg-line {
    width: 100%;
    height: 100%;
}

section.developers .bg-line svg {
    width: 100%;
    height: 100%;
    transform: scale(2);
    stroke-dasharray: 500px;
}

section.developers .bg-line svg .path {
    fill: none;
    stroke: #7fb539;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

section.developers .developer-infos {
    position: absolute;
    width: 100%;
    height: 100%;
}

section.developers .developer-infos .info {
    text-align: center;
    position: relative;
}

section.developers .developer-infos .info>div:first-child {
    color: #7FB539;
    font-size: 4em;
}

section.developers .developer-infos .info>div:last-child {
    font-size: 2em;
}

section.companies {
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 100px
}

section.companies h2 {
    margin: 50px 0
}

section.companies .companies-carousel {
    position: relative;
}

section.companies .companies-carousel .item img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

section.companies .companies-carousel button.owl-next,
section.companies .companies-carousel button.owl-prev {
    position: absolute;
    color: #7FB539;
    font-size: 5em;
    top: 33%;
    outline: none;
    box-shadow: none;
}

section.companies .companies-carousel button.owl-next:hover,
section.companies .companies-carousel button.owl-prev:hover {
    background: none;
    opacity: .7;
    color: #7FB539
}

section.companies .companies-carousel button.owl-prev {
    left: 0;
}

section.companies .companies-carousel button.owl-next {
    right: 0;
}

section.contact {
    padding: 0 100px;
    overflow: hidden;
}

section.contact .contact-form input {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid white;
    background: none;
    outline: none;
    box-shadow: none;
    color: white;
}

section.contact .contact-form textarea {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid white;
    background: none;
    height: 200px;
    color: white;
}

section.contact .form-right {
    height: 100%;
    width: 100%;
}

section.contact .help-block {
    color: #7FB539;
    margin: 5px 0 0 0;
    display: inline-block;
}

section.contact .form-right i {
    font-size: 1.2em;
}

section.contact .form-right a {
    font-size: 1.2em;
}

section.contact h2 {
    margin: 50px 0
}

section.contact a {
    color: white;
    margin: 5px 0;
    display: inline-block;
}

section.contact .contact-icon {
    background: url(../img/zindhu-icon.svg) no-repeat center center;
    background-size: contain;
    position: relative;
    top: -50px;
    height: 66%;
    width: 100%;
    pointer-events: none;
}

section.footer {
    padding: 0 100px;
    margin: 100px 0 0 0
}

section.footer h4 {
    color: #7FB539;
    margin-bottom: 10px;
    font-size: 20px;
    height: 20px;
}

section.footer a {
    display: block;
    color: white;
}

section.footer a.btn {
    display: inline-block;
    margin: 0;
    padding: 10px 20px
}

@media screen and (max-width: 768px) {
    .main .main-carousel .item .text {
        width: 95%;
    }
    .main .main-carousel .item .text .desc {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
    }
    .main .main-carousel .item .text .title {
        font-size: 30px;
        line-height: 34px;
    }
    .header {
        position: relative;
        height: 130px;
    }
    .header.scrolled {
        background: #140958;
    }
    .header .logo {
        position: absolute;
        left: 10px;
        top: 5px
    }
    .header .menu {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 3;
    }
    .header .menu .menu-inner ul {
        position: absolute;
        right: 10px;
        top: 40px;
    }
    .login-links {
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 65px;
        text-align: center;
    }
    .login-links .btn {
        letter-spacing: 0px;
    }
    section.about-us {
        padding: 0 10px;
        overflow-x: hidden;
    }
    section.about-us ul li {
        font-size: 1.2em;
        margin: 15px 0;
    }
    section.about-us h1 {
        line-height: 1.5em;
    }
    section.developers .developer-infos {
        position: absolute;
        top: 0
    }
    section.companies h2 {
        font-size: 3em;
    }
    section.companies {
        padding: 0 10px
    }
    section.contact {
        padding: 0 10px
    }
    section.contact h2 {
        font-size: 3em;
    }
    section.contact .contact-icon {
        width: 100%;
        height: 300px;
        margin: 10px auto;
        top: 0;
    }
    section.footer {
        padding: 0 10px
    }
    section.footer a.btn {
        display: block;
        margin: 20px 0;
        width: 100%;
    }
    .header .menu ul {
        height: 0;
        overflow: hidden;
    }
    .header .menu ul li {
        display: block;
        margin: 5px 0;
        height: 40px;
        opacity: 0;
    }
    .header .menu ul li a {
        background: #140958;
        font-size: 1.5em;
        padding: 5px;
    }
    .main .main-carousel .item img {
        object-fit: contain;
    }
    .main .main-carousel .item .text .desc {
        color: #fff
    }
}