@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?99ii7k');
  src:  url('fonts/icomoon.eot?99ii7k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?99ii7k') format('truetype'),
    url('fonts/icomoon.woff?99ii7k') format('woff'),
    url('fonts/icomoon.svg?99ii7k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger-menu-icon:before {
  content: "\e915";
}
.icon-zindhu-icon:before {
  content: "\e914";
}
.icon-job-icon:before {
  content: "\e913";
}
.icon-company-icon:before {
  content: "\e910";
}
.icon-myads-icon:before {
  content: "\e911";
}
.icon-cvpool-icon:before {
  content: "\e912";
}
.icon-pdf-icon:before {
  content: "\e90c";
}
.icon-program-icon:before {
  content: "\e90d";
}
.icon-experience-icon:before {
  content: "\e90e";
}
.icon-cap-icon:before {
  content: "\e90f";
}
.icon-conversations-icon:before {
  content: "\e900";
}
.icon-dashboard-icon:before {
  content: "\e901";
}
.icon-eye-icon:before {
  content: "\e902";
}
.icon-handshake-icon:before {
  content: "\e903";
}
.icon-job-list-icon:before {
  content: "\e904";
}
.icon-logout-icon:before {
  content: "\e905";
}
.icon-mail-icon:before {
  content: "\e906";
}
.icon-profile-2-icon:before {
  content: "\e907";
}
.icon-profile-icon:before {
  content: "\e908";
}
.icon-support-icon:before {
  content: "\e909";
}
.icon-telescope-icon:before {
  content: "\e90a";
}
.icon-world-icon:before {
  content: "\e90b";
}
