body {
    background: #320866;
    color: white;
    font-family: "Comfortaa", Helvetica, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

.zindhu__scrollbar {
    height: 100vh;
}

.turquoise {
    color: #ec165c
}

.redish {
    color: #ec165c
}


/* Smooth Scrollbar styles */

[data-scrollbar] {
    display: block;
    position: relative;
}

.scroll-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scrollbar-track {
    position: absolute;
    opacity: 0;
    z-index: 1;
    background: #320866;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.5s 0.5s ease-out;
    transition: opacity 0.5s 0.5s ease-out;
}

.scrollbar-track.show,
.scrollbar-track:hover {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.scrollbar-track-x {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

.scrollbar-track-y {
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
}

.scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: #ec165c;
    border-radius: 0;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.btn-outline {
    border: 2px solid #ec165c;
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    margin: 20px 0;
    text-decoration: none;
    transition: 1s ease;
    letter-spacing: 2px;
}

.btn-outline i {
    transition: .2s ease;
    color: #ec165c
}

.btn-outline:hover i {
    margin-left: 30px;
}

.btn-outline:hover {
    color: white;
}

section {
    margin: 0 100px
}

.header {
    padding: 0 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgba(50, 8, 102, .7)
}

.header .menu {
    position: relative;
    padding-right: 80px;
}

.header .menu .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: 1s ease;
    transform-origin: center center;
}

.header .menu .hamburger:hover {
    transform: scale(1.1);
}

.header .menu .hamburger svg {
    width: 80px;
    height: 80px;
}

.header .menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 7px;
    overflow: hidden;
}

.header .menu ul li a {
    padding: 20px 5px;
    display: inline-block;
    color: white;
    font-size: 13px;
    position: relative;
    bottom: -50px;
    cursor: pointer;
}

.header .lang-area {
    position: absolute;
    top: 22px;
    right: 0px;
}

.header .lang-area a{
    color: #fff;
    text-decoration: none;
}

.header .logo {
    background: url(../img/zindhu-logo.png) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 100px;
}

.main {
    text-align: center;
    height: 100vh;
}

.main img {
    width: 33%;
    object-fit: contain;
    position: relative;
}

.main .main-bottom {
    width: 100%;
    text-align: left;
    margin-bottom: 50px
}

.main h2 {
    font-size: 4em;
}

.main .welcome {
    color: #ec165c
}


/* Zindhu Co Info (Sectipn 2) */

section.zindhu-co {
    height: 100vh;
    font-size: 22px;
    position: relative;
    font-weight: 300;
}

section.zindhu-co .text {
    width: 40%;
    color: #ec165c
}

section.zindhu-co .drawings {
    position: absolute;
    right: 0;
    top: 20%;
    width: 50%;
    height: 100%;
}

section.zindhu-co .drawings div[class*="draw"] {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    width: 77%;
    height: 77%;
    margin-top: auto;
}

section.zindhu-co .drawings .draw-01 {
    background-image: url(../img/zindhu-co-01.svg);
}

section.zindhu-co .drawings .draw-02 {
    background-image: url(../img/zindhu-co-02.svg)
}

section.zindhu-co .drawings .draw-03 {
    background-image: url(../img/zindhu-co-03.svg)
}

section.zindhu-co .drawings .draw-04 {
    background-image: url(../img/zindhu-co-04.svg)
}

section.zindhu-co .drawings .line {
    position: absolute;
    width: 50%;
    height: 20px;
    background: #ec165c;
    top: 50%;
    left: -30%;
    transform: rotate(45deg);
}


/* Zindhu HR Info (Section 3) */

section.zindhu-hr {
    height: 100vh;
    font-size: 22px;
    position: relative;
    font-weight: 300;
}

section.zindhu-hr .text {
    width: 40%;
    color: #ec165c;
    margin-left: auto;
}

section.zindhu-hr .drawings {
    position: absolute;
    left: 0;
    top: 20%;
    width: 50%;
    height: 100%;
}

section.zindhu-hr .drawings div[class*="draw"] {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    width: 77%;
    height: 77%;
    margin-top: auto;
}

section.zindhu-hr .drawings .draw-01 {
    background-image: url(../img/zindhu-hr-01.svg);
}

section.zindhu-hr .drawings .draw-02 {
    background-image: url(../img/zindhu-hr-02.svg)
}

section.zindhu-hr .drawings .draw-03 {
    background-image: url(../img/zindhu-hr-03.svg)
}

section.zindhu-hr .drawings .draw-04 {
    background-image: url(../img/zindhu-hr-04.svg)
}

section.zindhu-hr .drawings .line {
    position: absolute;
    width: 50%;
    height: 20px;
    background: #ec165c;
    top: 50%;
    right: -10%;
    transform: rotate(-45deg);
}

section.zindhu-hr .zindhu-hr-logo {
    background: url(../img/zindhu-hr-logo.svg) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0
}


/* Zindhu HR Info (Section 4) */

section.zindhu-games {
    height: 100vh;
    font-size: 22px;
    position: relative;
    font-weight: 300;
    background: url(../img/icon-stroke.svg) no-repeat center center;
    background-size: 50% 50%;
    overflow: hidden;
}

section.zindhu-games .text {
    position: relative;
}

section.zindhu-games .text h2 {
    font-size: 150px;
    white-space: nowrap;
    font-weight: 300;
    position: relative;
}

section.zindhu-games .text:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 170px;
    width: 100px;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(50, 8, 102, 1) 71%);
}

section.zindhu-games .text:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 170px;
    width: 100px;
    z-index: 1;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(50, 8, 102, 1) 71%);
}

section.zindhu-games .zindhu-games-logo {
    background: url(../img/zindhu-games-logo.png) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 0
}

.zindhu-middle {
    margin: 0;
    height: 100vh;
    font-size: 22px;
    position: relative;
    font-weight: 300;
    overflow: hidden;
}

.zindhu-middle .text {
    margin: 0 100px;
    color: #ec165c;
    font-size: 18px;
    line-height: 150%;
}

.zindhu-middle-bar {
    height: 400px;
    width: 100%;
    background: url(../img/bar-img.jpg) no-repeat center center;
    background-size: cover;
}


/* Zindhu Ventures Info (Section 3) */

section.zindhu-venture {
    height: 100vh;
    font-size: 22px;
    position: relative;
    font-weight: 300;
}

section.zindhu-venture .text {
    width: 40%;
    color: #ec165c;
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 20%;
}

section.zindhu-venture .drawings {
    position: absolute;
    left: 0;
    top: 20%;
    width: 66%;
    height: 100%;
}

section.zindhu-venture .drawings div[class*="draw"] {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    width: 77%;
    height: 77%;
    margin-top: auto;
}

section.zindhu-venture .drawings .draw-01 {
    background-image: url(../img/zindhu-venture-01.svg);
}

section.zindhu-venture .drawings .draw-02 {
    background-image: url(../img/zindhu-venture-02.svg)
}

section.zindhu-venture .drawings .draw-03 {
    background-image: url(../img/zindhu-venture-03.svg)
}

section.zindhu-venture .drawings .draw-04 {
    background-image: url(../img/zindhu-venture-04.svg)
}

section.zindhu-venture .drawings .draw-05 {
    background-image: url(../img/zindhu-venture-05.svg)
}

section.zindhu-venture .drawings .line {
    position: absolute;
    width: 50%;
    height: 20px;
    background: #ec165c;
    top: 50%;
    right: -10%;
    transform: rotate(45deg);
}

section.zindhu-venture .zindhu-venture-logo {
    background: url(../img/zindhu-venture-logo.svg) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0
}

section.crew {
    height: 100%;
    font-size: 22px;
    position: relative;
    font-weight: 300;
}

section.crew .crew-carousel .item .name {
    font-size: 20px;
    margin: 10px 0
}

section.crew .crew-carousel .item .title {
    font-size: 20px;
    color: #ec165c
}

section.contact {
    margin: 0;
}

section.contact h2 {
    margin: 100px;
}

section.contact .footer {
    background: #140958;
    color: white;
    height: 300px;
    padding: 0 100px;
    position: relative;
}

section.contact .footer p i {
    font-size: 30px;
}

section.contact .footer a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 0
}

section.contact .footer div.adress {
    margin-left: 0
}

section.contact .footer div>div {
    margin: 10px 50px
}

section.contact .footer .footer-icon {
    position: absolute;
    top: -30%;
    right: 20%;
    width: 200px;
    height: 200px;
    background: url(../img/zindhu-icon.svg) no-repeat center center;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .header {
        padding: 0
    }
    .header .logo {
        width: 160px;
        height: 50px;
        margin: 10px 20px;
    }
    .header .menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }
    .header .menu ul li {
        display: block;
        text-align: right;
    }
    .header .menu ul li a {
        padding: 5px;
        font-size: 18px;
    }
    .header .menu .menu-inner {
        position: relative;
        top: 60px;
        right: 25px;
    }
    .header .lang-area {
        right: 89px;
    }
    .main img {
        width: 66%;
        margin: 20vh 0 0 0 !important;
    }
    section {
        margin: 0 10px
    }
    section.zindhu-co .text {
        width: 100%;
        position: relative;
    }
    .main h2 {
        font-size: 2em;
        position: relative;
    }
    section.zindhu-co .drawings {
        width: 100%;
        position: relative;
        top: 0
    }
    section.zindhu-co,
    section.zindhu-hr {
        font-size: 15px;
    }
    section.zindhu-hr {
        height: auto;
    }
    section.zindhu-co .drawings div[class*="draw"] {
        width: 100%;
        height: 100%;
    }
    section.zindhu-hr .text {
        width: 100%;
        position: relative;
        margin-top: 15vh !important
    }
    .btn-outline {
        width: 100%;
        display: block;
    }
    section.zindhu-hr .drawings {
        width: 100%;
        position: relative;
        height: 50vh;
    }
    section.zindhu-hr .zindhu-hr-logo {
        width: 100%;
        top: 20%;
        position: relative;
    }
    section.zindhu-co .drawings .line {
        left: 0;
    }
    .zindhu-middle .text {
        margin: 0 10px
    }
    section.zindhu-venture .drawings {
        width: 100%;
        height: 100vh;
        top: 0;
        position: relative;
    }
    .main .main-bottom {
        margin: 0;
        bottom: -10vh;
        position: relative;
    }
    .main .main-bottom h1 {
        font-size: 4em;
    }
    .zindhu-co>p {
        margin: 50px auto
    }
    section.zindhu-games .zindhu-games-logo {
        width: 100%;
        position: relative;
        bottom: -10%
    }
    section.zindhu-hr .drawings .line {
        right: 0;
    }
    section.zindhu-venture {
        height: 100%
    }
    section.zindhu-venture .drawings .line {
        right: 0;
    }
    section.zindhu-venture .drawings div[class*="draw"] {
        width: 100%;
        top: 0
    }
    section.zindhu-venture .text {
        width: 100%;
        margin-top: -200px;
        position: relative;
    }
    section.crew .crew-carousel .item img {
        height: 300px;
        object-fit: contain;
    }
    section.zindhu-venture .zindhu-venture-logo {
        width: 100%;
        position: relative;
    }
    .zindhu-middle {
        overflow: visible;
    }
    .zindhu-middle-bar {
        height: 350px;
    }
    .zindhu-middle .text {
        margin: 0 10px
    }
    .zindhu-venture .text {
        font-size: 18px;
    }
    section.crew .crew-carousel .item {
        text-align: center;
    }
    section.crew {
        margin-top: 100px;
    }
    section.contact .footer {
        padding: 10px;
        height: auto;
    }
    section.contact h2 {
        margin: 10px
    }
    section.contact .footer div>div {
        margin: 0
    }
    section.contact .footer .footer-icon {
        width: 80px;
        height: 80px;
        top: -10%;
        right: 5%;
    }
    section.contact .footer p i {
        margin: 20px 0 0 0;
    }
    section.contact .footer div.adress p {
        margin-top: 20px
    }
    section.zindhu-games .text {
        margin-top: 13em;
    }
    section.zindhu-games .text:before,
    section.zindhu-games .text:after {
        display: none;
    }
    section.zindhu-games .text h2 {
        font-size: 30px;
    }
    section.zindhu-games .text p {}
}